/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .panel {
    background-color: #cddaed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    max-width: 90%;
    margin-right: 20px;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .text-field,
  .select {
    display: block;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("arrow.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
    padding-right: 30px;
  }
  
  .button,
  .delete-button,
  .save-button,
  .calculate-button,
  .print-button,
  .exit-button,
  .pay-button,
  .search-customer-button,
  .minimize-button,
  .refresh-button {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background-color: #406bd7;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover,
  .delete-button:hover,
  .save-button:hover,
  .calculate-button:hover,
  .print-button:hover,
  .exit-button:hover,
  .pay-button:hover,
  .search-customer-button:hover,
  .minimize-button:hover,
  .refresh-button:hover {
    background-color: #2a4d9c;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .amount-field,
  .previous-balance-field,
  .received-amount-field {
    width: 30%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #cddaed;
    margin-bottom: 15px;
    font-size: 16px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .time-label {
    font-size: 12px;
    margin-top: 20px;
    display: block;
    text-align: center;
    color: #888888;
  }
  

  h1{
    text-align: center;
    color: #ff6600;
    margin-top: 0;
  }
  #particularsSelect{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f2f2f2;
    margin-bottom: 15px;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    .panel {
      width: 90%;
    }
  }
  